<h4>/ Noticias e Destaques</h4>

 <% @news_items.each do |item| %>
	<h5><%= item.title %></h5>
	<p>
		  <%= raw truncate(strip_tags(item.body), :length => 120) %>
			<%= link_to "Leia mais...", news_item_url(item) %>
	</p>
     

 <% end %>

<a href="/news" class="read_more">LEIA MAIS NOTICIAS</a>