<h4>/ Dicas de segurança</h4>
<% @tips.each do |item| %>
<div class="thumb_notice">
	<%= raw /<img[^>]+>/.match(item.body).to_s %>
	<h5><%= item.title %></h5>
	<p>
		  <%= raw truncate(strip_tags(item.body), :length => 40) %>
			<%= link_to  "Leia mais ...", blog_post_url(item) %>
	</p>
	<div class="clr">&nbsp;</div>
</div>
<% end %>
<!--<a href="#" class="read_tips">LEIA MAIS DICAS</a> -->